<main>
<h1>
  Welcome to Trailmap <%= current_user ? current_user.username : '!' %>
</h1>

<div id="main-map"></div>

<% content_for :custom_javascript do %>
  <%= javascript_include_tag 'trailsViewer'%>
<% end %>

<footer></footer>
</main>
