html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width:100%;
  margin: 0;
  background-color: #eee;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  width: 100%;
  height: 45px;
  background-color: green;
  color: white;
  font-family: helvetica;
}

nav, h1, h3, p {
  margin: 0;
  padding: 0;
}

.favorite{
  text-align: center;
}

.background{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: grey;
  opacity: .5;
  z-index: 1;
}

.title{
  float:left;
  margin-top: 8px;
  display: inline-block;
  padding-left:12%;
}

.title a {
  text-decoration: none;
}

.title a:visited {
  color: white;
}

.logged_in {
  padding-top: 10px;
  margin-right:12%;
}

.logged_in_as {
  float: right;
  color: white;
}

.logged_in_as a {
  text-decoration: none;
}

.logged_in_as a:visited {
  color: white;
}

.logout {
  float: right;
  margin-left: 10px;
  border-left: solid white 2px;
  padding-left: 10px;
  margin-right: 10px;
}

.logout a {
  text-decoration: none;
}

.logout a:visited {
  color: white;
}

.login {
  float: right;
  margin-top: 7px;
}

.loginform {
  margin-left: 10px;
}

#username {
  border: solid black 1px;
  margin: 0;
  padding: 0;
  height: 20px;
  padding-left: 5px;
  padding-right: 3px;
  border-radius: 10px;
  width: 140px;
}

#password {
  border: solid black 1px;
  margin: 0;
  padding: 0;
  height: 20px;
  padding-left: 5px;
  padding-right: 3px;
  border-radius: 10px;
}
.submitButton {
  border: solid black 1px;
  background-color: white;
  color: black;
  font-family: helvetica;
  padding-top: 4px;
  font-weight: 600;
    margin: 0;
  padding: 0;
  height: 22px;
  padding-left: 4px;
  padding-right: 5px;
  border-radius: 10px;
}

.signup {
  float: right;
  margin-top: 7px;
  margin-left: 10px;
  border-left: solid white 2px;
  padding-left: 10px;
  margin-right: 10px;
}

.signup-container {
  z-index: 2;
  width: 500px;
  height: 300px;
  position: fixed;
  border: solid black 1px;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  opacity: 1;
  border-radius: 5px;
}

.close-signup {
  font-family: opensans;
  background-color: lightgrey;
  width:10px;
  height:12px;
  padding: 2px;
  padding-right: 1px;
  line-height: 0.7;
  float: right;
  margin: 3px;
  border-radius: 2px;
}

/*index page map*/
#main-map{
  position:absolute;
  left:12%;
  right:12%;
  height:70%;
  width:76%;
  border:solid black 1px;
}

/*profile page container*/
.profile-container{
  width:76%;
  position:absolute;
  left:12%;
  right:12%;
  height:600px;
  margin-top:3%;
}

#map-trail {
  height: 30em;
  /*width: inherit;*/
  margin: 3% auto;
  opacity: .6;
}

#map-trail:hover {
  opacity: 1;
}

/*left div of trails in container*/
.trails-div{
  float: left;
  width: 18%;
  display: inline-block;
  /*height: 600px;*/
  overflow: scroll;
}
.map-border-div {
  padding: 0 2%;
  border-left: 5px solid #0e700e;
  border-right: 5px solid #0e700e;
  width: 55%;
  margin: 0 auto;
}

.trailinfo {
  /*border: 1px solid red;*/
}
.trailinfo h4 {
  margin: 0 auto;
}

/*trailnotes form*/
.trailnotes{
  position:absolute;
  bottom:0;
}

.notes-div {
  float: right;
  width: 18%;
}

footer{
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  margin-top:20px;
  background-color: green;
}



/*.trails-div, .notes-div {
  background-color: #eee;
  border-radius: 1em;
}*/
li {
  list-style: none;
  padding: 0;
  margin: 1%;
  font-size: 1.2em;
}
button {
  font-size: 1.2em;
}
.trails-ul, .favorites-ul, .notes-ul, .trailinfo-ul {
  padding: 0;
}
.trails-ul, .favorites-ul {
  margin: 10% 0 25%;
}
.trails-ul li, .favorites-ul li {
  cursor: pointer;
  text-align: left;
  border: 1px solid rgba(0,0,0,0);
  padding: 4% 2%;
}
.trails-ul li:hover, .favorites-ul li:hover {
  border: 1px solid green;
  border-radius: .2em;
  background-color: #fff;
}
.notes-ul li {
  text-align: right;
  border-bottom: 3px solid #aaa;
  padding: 5% 0 5% 10%;
}
.notes-ul li:nth-child(2n) {
  text-align: left;
  padding: 5% 10% 5% 0;
}
.profile-container h3 {
  text-align: center;
  font-size: 1.8em;
}
#create-trail-form-div {
  margin-top: 3%;
}
.profile-page-map {
  background-color: #fff;
}
.add-notes-form textarea {
  width: 100%;
  height: 5em;
  border: 1px solid green;
  border-radius: .3em;
  padding: 2%;
  font-size: 1em;
}
.add-notes-form textarea:hover {
  border-radius: .5em;
}
.create-note-button, .create-trail-form-button, .create-trail-button, .clear-fields-button {
  height: 1.5em;
  background-color: #6EE86E;
  border: 1px solid #0e700e;
  margin: 0 auto;
  color: #555;
  cursor: pointer;
  border-radius: .3em;
  display: block;
}
.create-note-button {
  margin: 8% auto 0;
}
.create-trail-form-button {
  margin: 0 auto 4%;
}
.create-note-button:hover, .create-trail-form-button:hover {
  color: #000;
  border-radius: .5em;
}
#create-trail-form {
  width: 80%;
  margin: 0 auto;
}
.create-trail-button, .clear-fields-button {
  display: inline-block;
}
.create-trail-button {
  margin: 4% auto;
  width: 40%;
}
.clear-fields-button {
  float: right;
  margin: -8.5% 10% 0 0;
  width: 35%;
}
.create-trail-title, .create-trail-state, .create-trail-description {
  border: 1px solid green;
  border-radius: .3em;
  padding: 2%;
  font-size: 1em;  
}
.create-trail-title, .create-trail-state {
  margin: 0 0 4%;
  width: 44%;
}
.create-trail-title {
  float: left;
}
.create-trail-state {
  float: right;
}
.create-trail-description {
  width: 95%;
  display: block;
  margin: 3% auto 0;
}

@media(max-width: 900px) {
  .clear-fields-button {
    float: right;
    margin: -11% 10% 0 0;
  }  
}
@media(max-width: 700px) {
  .clear-fields-button {
    float: right;
    margin: -13% 10% 0 0;
  }  
}
@media(max-width: 600px) {
  .clear-fields-button {
    float: right;
    margin: -14.5% 10% 0 0;
  }
  .profile-container {
    margin: 0;
    padding: 0;
  }
  .map-border-div, .notes-div, .trails-div {
    display: block;
    float: none;
    width: 100%;
    border: none;
    margin-bottom: 5%;
  }
  .trails-ul, .favorites-ul {
    margin: 10% 0;
  }
}
@media(max-width: 500px) {
  .clear-fields-button {
    float: right;
    margin: -10.5% 10% 0 0;
  }
}
@media(max-width: 400px) {
  .clear-fields-button {
    float: right;
    margin: -12.5% 10% 0 0;
  }  
}

