html, body {
  height: 100%;
  width: 100%;
}
* {
  color: #444;
}
body, nav, h1, h3, p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 5%;
}
.favorite {
  text-align: center;
}
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: grey;
  opacity: .5;
  z-index: 1;
}
nav {
  min-height: 12%;
  background-color: green;
  color: white;
}
.title {
  float: left;
  margin-left: 12%;
  font-size: 2.5em;
  padding: 1% 0;
}
.not_logged_in {
  float: right;
  padding: 2% 0;
  margin-right: 12%;
}
a {
  text-decoration: none;
  color: #fff;
}
.login {
  float: left;
  padding: 0;
}
.loginform {
  width: 30em;
}
h3 {
  color: #fff;
  cursor: pointer;
}
.loginform input {
  height: 1.9em;
  border: none;
  width: 25%;
  padding: 0 2%;
  font-size: 1em;
}
#username {
  border-radius: 5px 0 0 5px;
}
#password {
  border-radius: 0 5px 5px 0;
}
.loginform .submitButton {
  width: 18%;
  border-radius: 3px;
  cursor: pointer;
}
.signup {
  float: right;
  font-size: 1.3em;
  padding-left: .5em;
  border-left: 3px solid #fff;
}
.login-button {
  font-size: 1.5em;
  padding-right: .5em;
}

.signup-container {
  z-index: 2;
  width: 40%;
  padding: 0 2% 2%;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-top: -20%;
  margin-left: -250px;
  opacity: 1;
  border-radius: 5px;
}
.signup-container h1 {
  margin-bottom: 5%;
}
/* .new_user {
  padding-right: 1.4%;
} */
.new_user input {
  height: 2em;
  width: 57%;
  border: 1px solid #0e700e;
  border-radius: .3em;
  margin: 3% 0;
  padding: 1%;
  font-size: .7em;
}
.new_user input[type="submit"] {
  height: 3em;
  width: 20%;
  background-color: #0e700e;
  border: none;
  margin: 5% auto 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
  border-radius: .3em;
}

.close-signup {
  background-color: #eee;
  width: 3%;
  height: 3%;
  padding: 0 1% 0%;
  font-size: 1.5em;
  float: right;
  margin: 4% 0;
  cursor: pointer;
}

#main-map{
  position: absolute;
  left: 12%;
  right: 12%;
  height: 70%;
  width: 76%;
}

.logged_in {
  padding-top: 10px;
  margin-right: 12%;
}

.logged_in_as {
  float: right;
  color: white;
}

.logged_in_as a {
  text-decoration: none;
}

.logged_in_as a:visited {
  color: white;
}

.logout {
  float: right;
  margin-left: 10px;
  border-left: solid white 2px;
  padding-left: 10px;
  margin-right: 10px;
}

.logout a {
  text-decoration: none;
}

.logout a:visited {
  color: white;
}


/*After Aziz took over*/


main h1 {
  text-align: center;
  margin: 3% auto;
}
#main-map button {
  height: 1.5em;
  background-color: #0e700e;
  border: none;
  display: block;
  margin: 3% 40%;
  padding: 0 8%;
  color: #fff;
  cursor: pointer;
  border-radius: .3em;
}
.profile-container {
  width: 85%;
  margin: 3% auto;
  /*height: 600px;*/
}
#map-trail {
  height: 30em;
  margin: 3% auto;
  opacity: .6;
}
#map-trail:hover {
  opacity: 1;
}
.trails-div{
  float: left;
  width: 21%;
  display: inline-block;
  /*height: 600px;*/
  overflow: scroll;
}
.map-border-div {
  padding: 0;
  border-left: 2px solid #0e700e;
  border-right: 2px solid #0e700e;
  width: 55%;
  margin: 0 auto;
}
.notes-div {
  float: right;
  width: 21%;
}


li {
  list-style: none;
  padding: 0;
  margin: 1%;
  font-size: 1.2em;
}
button {
  font-size: 1.2em;
}
.trails-ul, .favorites-ul, .notes-ul, .trailinfo-ul {
  padding: 0;
}
.trails-ul, .favorites-ul {
  margin: 10% 0 25%;
}
.trails-ul li, .favorites-ul li {
  cursor: pointer;
  text-align: left;
  border: 1px solid rgba(0,0,0,0);
  padding: 4% 2%;
}
.trails-ul li:hover, .favorites-ul li:hover {
  border: 1px solid green;
  border-radius: .2em;
  background-color: #fff;
}
.notes-ul li {
  text-align: right;
  border-bottom: 3px solid #aaa;
  padding: 5% 0 5% 10%;
}
.notes-ul li:nth-child(2n) {
  text-align: left;
  padding: 5% 10% 5% 0;
}
.profile-container h3 {
  text-align: center;
  font-size: 1.8em;
  color: #444;
}
#create-trail-form-div {
  margin-top: 3%;
}
.profile-page-map {
  background-color: #fff;
}
.add-notes-form textarea {
  width: 100%;
  height: 5em;
  border: 1px solid green;
  border-radius: .3em;
  /* padding: 2%; */
  font-size: 1em;
}
.add-notes-form textarea:hover {
  border-radius: .5em;
}
.create-note-button, .create-trail-form-button, .create-trail-button, .clear-fields-button {
  height: 1.5em;
  background-color: #0e700e;
  border: none;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
  border-radius: .3em;
  display: block;
}
.create-note-button {
  margin: 8% auto 0;
}
.create-trail-form-button {
  margin: 0 auto 4%;
}
.create-note-button:hover, .create-trail-form-button:hover {
  border-radius: .5em;
}
#create-trail-form {
  width: 80%;
  margin: 0 auto;
}
.create-trail-button, .clear-fields-button {
  display: inline-block;
}
.create-trail-button {
  margin: 4% auto;
  width: 40%;
}
.clear-fields-button {
  float: right;
  margin: -8.5% 10% 0 0;
  width: 35%;
}
.create-trail-title, .create-trail-state, .create-trail-description {
  border: 1px solid green;
  border-radius: .3em;
  padding: 2%;
  font-size: 1em;  
}
.create-trail-title, .create-trail-state {
  margin: 0 0 4%;
  width: 44%;
}
.create-trail-title {
  float: left;
}
.create-trail-state {
  float: right;
}
.create-trail-description {
  width: 95%;
  display: block;
  margin: 3% auto 0;
}


@media(max-width: 900px) {
  .profile-container {
  width: 90%;
  }
  .clear-fields-button {
    float: right;
    margin: -11% 10% 0 0;
  }  
}
@media(max-width: 700px) {
  .clear-fields-button {
    float: right;
    margin: -13% 10% 0 0;
  }  
}
@media(max-width: 600px) {
  .clear-fields-button {
    float: right;
    margin: -14.5% 10% 0 0;
  }
  .map-border-div, .notes-div, .trails-div {
    display: block;
    float: none;
    width: 100%;
    border: none;
    margin-bottom: 5%;
    padding: 0;
  }
  .trails-ul, .favorites-ul {
    margin: 10% 0;
  }
}
@media(max-width: 500px) {
  .clear-fields-button {
    float: right;
    margin: -10.5% 10% 0 0;
  }
  nav {
    min-height: 15%;
  }
  .not_logged_in {
    float: none;
    margin: 0 auto;
    width: 50%;
  }
  .login, .signup {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
  }
  .title {
    font-size: 200%;
    display: block;
    float: none;
    text-align: center;
    margin: 0;
  }
  main h1 {
    font-size: 150%;
  }
}
@media(max-width: 400px) {
  .clear-fields-button {
    float: right;
    margin: -12.5% 10% 0 0;
  }  
}

